# Code::Blocks stuff
*.cbTEMP
*.depend
*.layout
*.mode1v3
*.pbxuser
bin/
obj/
src/bin/
src/obj/
tools/command-frame-generator/*.exe
src-cmdFrameGen/bin/
src-cmdFrameGen/obj/

# Gource
gource.bat

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
